body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    background-color: #fff;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
}
.sr-only{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}
.container {
    gap: 24px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}
h1,h2,h3,p{
    margin: 0;
}