.feature-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.feature-description{
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 10px;
}
.features{
    gap: 24px;
    max-width: 1158px;
    list-style: none;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100%-72px)/4);
    margin: 8px;
}