.title{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.333;
    letter-spacing: 0.03em;
}
.span{
    color: #2E2F42;
}
.header{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}
.contact{
    color:#434455;
    font-style: normal;
    margin-left: auto;
}
.header1{
    display: flex;
    gap: 40px;
}