.title{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.333;
    letter-spacing: 0.03em;
    width: 115px;
    height: 24px;
}
.span{
    color: #2E2F42;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    word-spacing: 15px;
}
a{
    text-decoration: none;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
a:hover{
    color:#404bbf;
}
a:focus{
    color:#404bbf;
}
.header{
    font-weight: 500;
    gap: 40px;
}
address{
    font-style: normal;
}
.contact{
    color:#434455;
}
.container{
    gap: 40px;
    max-width: 1158px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}