.team{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 24px;
    padding-right: 24px;
}
p{
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.333;
}
.team1{
    padding: 32px 16px;
}
.team-member-name1{
    text-align: center;
    background-color: #F4F4FD;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #2e2f42;
    padding-bottom: 72px;
}
.team-member-name2{
    text-align: center;
    background-color: #fff;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
}
.team-member-name3 {
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
}
.container-team{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-right: 15px;
    padding-left: 15px;
}