.team{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 24px;
    padding-right: 24px;
}
.team1{
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
}
.team-member-name1{
    text-align: center;
    background-color: #F4F4FD;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #2e2f42;
    padding-bottom: 72px;
}
.team-member-name2{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
    margin-top: 0;
    margin-bottom: 8px;
}
.team-member-name3 {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
}
.container1{
    background-color: #fff;
    padding: 32px 16px;
    text-align: center;
}
.team-img{
    display: block;
    max-width: 100%;
    height: auto;
}
.team-list{
    display: flex;
    gap: 24px;
}